// ==============================
// Custom style
// 自定义样式
// ==============================

.home.posts .summary {
  // border-bottom: 1px dashed #ababab;
  [data-theme='dark'] & {
    background-color: #303030;
  }
  display: flex;
  flex-direction: column;
  background-color: #fdfdfd;
  border-radius: 10px;
  overflow: hidden;
  padding: 0 10px;
}

.page {
  display: flex;
  flex-direction: column;
  gap: 30px
}