// ==============================
// Override Variables
// 覆盖变量
// ==============================
@import url('https://s1.hdslb.com/bfs/static/jinkela/long/font/regular.css');
$global-font-family: "HarmonyOS_Regular", sans-serif;

// Color of the background
$global-background-color: #f5f5fa;
$global-background-color-dark: #303030;
